<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="custom.hardware.gpportservice">

    <application>
        <service
            android:name="custom.hardware.gpportservice.GpPortService"
            android:process=":gpportservice"
            android:exported="true">
            <intent-filter>
                <action android:name="custom.hardware.gpportservice.ACTION_BIND" />
            </intent-filter>
        </service>
    </application>

</manifest>

